.reviews {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 40px;
}

.reviews_a {
    cursor: inherit;
}

.reviews_img {
    width: 150px;
    height: 150px;
}